
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/mui.min.css">
    <link rel="stylesheet" href="css/phone_rem.css">
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">忘记密码</h1>
</header>
<div id="box" class="mui-content">
    <div class="mui-input-group" style="margin-top: 0.3rem">
        <div class="mui-input-row">
            <label>用户名</label>
            <input v-model="name" type="text" class="mui-input-clear" placeholder="请输入用户名">
        </div>
        <div class="mui-input-row">
            <label>手机号码</label>
            <input v-model="pho" type="number" class="mui-input-clear" placeholder="请输入注册手机号">
        </div>
        <div class="mui-input-row positive">
            <label>验证码</label>
            <input v-model="yzm" type="number" placeholder="请输入数字验证码">
            <span v-cloak @click="get_yzm" id="yzm">{{get_yz}}</span>
        </div>
    </div>
    <button @click="login" type="button" class="mui-btn sub">
        下一步
    </button>
</div>
</body>
<script src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/isnum.js"></script>
<script src="js/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
    new Vue({
        el:'#box',
        data:{
            name:'',
            pho:'',
            yzm:'',
            get_yz:'获取验证码',
            flag:true,
            second:59
        },
        methods:{
            get_yzm:function(){
                var that = this;
                if(that.pho == ''||!isPoneAvailable(this.pho)){
                    mui.toast('请正确输入手机号码！');
                }else{
                    if(that.flag){
                        that.flag = false;
                        that.$http.get(
                                address+'Index/Register/getCode',
                                {params: {phone:that.pho}}
                        )
                                .then(function(res){
//                                    console.log(res.body)
                                    if(res.body.code != 1000){
                                        mui.toast(res.body.msg);
                                    }
                                });
                        that.second--;
                        that.get_yz = that.second+'s后重新发送'
                        var fun = setInterval(function(){
                            that.second--;
                            that.get_yz = that.second+'s后重新发送';
                            if(that.second == 0){
                                clearInterval(fun);
                                that.second = 5;
                                that.get_yz = '重新获取';
                                that.flag = true;
                            }
                        },1000);
                    }

                }
            },
            login:function(){
//                console.log(this.pwd)
//                console.log(this.pho)
                var that = this;
                if(this.name == ''||this.pho == ''||this.yzm == ''){
                    mui.toast('请完善资料！');
                }else if(!isPoneAvailable(this.pho)){
                    mui.toast('手机格式错误！');
                }else{
                    that.$http.post(
                            address+'Index/Login/findPwd',
                            {nickname:that.name,
                                phone:that.pho,
                                code:that.yzm
                            },
                            {emulateJSON:true})
                            .then(function(res){
                                console.log(res.body)
                                mui.toast(res.body.msg);
                                if(res.body.code == 1000){
                                    setTimeout(function(){
                                        window.location.href = 'pwd_find_next.html';
                                    },1000)
                                }
                            });
                }
            }
        }
    })

</script>
</html>